/*  */
/*

############################################
###  tablets 601 até 1000
############################################

 */
@media (max-width: 1000px) {
    header div:nth-child(2) {
        display: flex;
        flex-direction: column;

    }

    .menu {
        justify-content: space-around;
        width: 100%;
    }

    .menu ul {
        margin-left: 0;
    }
   

    .contSobre p {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    .contEquipe div {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 150%;

    }

    .contEquipe div div {
        width: 30%;
        margin: 2% 5%;
    }


    .destaque {
        padding: 50px 0;
        background: url(../img/fundoDestaque.png) no-repeat;
       
    }

    .destaque img {
        width: 10%;
        margin: 0%;
    }
    





}


/*

############################################
###  NOTBOKK 768 até 1200
############################################

 */






/*

############################################
###  Smartphones 0 até 600
############################################

 */

@media not all and (max-width: 600px) {

    .abri-menu,
    .botao-fecha {
        display: none;
    }
}


@media (max-width: 600px) {

    /* ********************* 
    TOPO
*************************/

    .topoContado {
        padding: 2%;

    }

    header div a:nth-child(2) {
        margin-left: 0%;
    }

    /* InÃ­cio do TOPO 02 */
    header div h1 {
        margin-left: 4%;
    }


    .menu {
        background: rgba(241, 196, 15, 0.8);
        ;
        height: 100%;
        position: fixed;
        z-index: 10;
        width: 50%;
        max-width: 300px;
        top: 0;
        margin: 0;
        right: -300px;
        transition: right .5s ease-out;

    }

    .abri-menu {
        background: url(../img/botao-de-menu-de-tres-linhas-horizontais.png);
        background-size: cover;
        padding: 20px;
        border: 0;
        display: block;
        margin-right: 20px;
    }

    .menu button.botao-fecha {
        background: url(../img/fechar-o-simbolo-da-cruz-em-um-circulo.png);
        background-size: cover;
        padding: 10%;
        width: 0%;
        border: 0;
        display: block;
        margin: 4%;
    }

    .menu-mobile .menu {
        right: 0px;
    }

    .menu {
        flex-direction: column;
        justify-content: flex-start;
    }

    .menu ul {
        flex-direction: column;
        margin-left: 0;
    }

    .menu ul li {
        padding: 10px 0;
    }

    .subMenu:hover ul {
        position: relative;
    }

    .menu button {
        width: 0;
        margin: 0 auto;
    }




    .banner {
        display: none;
    }

    /* .contEquipe {
        display: none;
    } */


    /*  galeria  */

    /* .galeria {
        display: none;
    } */



    /* ############### Sobre da PÃ¡gina Home ################# */

    .contSobre {
        padding: 10px 0;
    }

    .contSobre h2 {

        font-size: 1.8em;
        
        margin-bottom: 20px;
    }

    .contSobre div div {
        flex-direction: column;
    }

    .contSobre div div div {
        width: 90%;
        padding-left: 0 1%;

    }

    .contSobre img {
        background: url(../img/sobreSemBorda.png);
        border-radius: 50px 50px 0 0;
        margin-bottom: 2%;
        width: 109%;

    }

    .contSobre div div div:nth-child(1) {
        padding-right: 0px;
    }

    .contSobre div div div:nth-child(2) {
        padding-left: 0px;
        border-radius: 0 0 50px 50px;
        padding: 4%;
    }

    .contSobre p {
        font-size: 1.2em;
        line-height: 1.8em;

    }

    /* ############################################# Serviços #################################*/

    .contServico {
        padding: 25px 0;

    }


    .contServico h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .contServico h3 {

        font-size: 1.2em;

        margin-bottom: 20px;

    }

    .contServico p {
        color: #34495e;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    .contServico div div {
        flex-direction: column;
        margin-left: 2px;
    }

    .contServico div div div {
        width: 95%;
        padding: 2%;
        margin-bottom: 3%;
    }



    /* .destaque {
        display: none;
    } */

    /* ###################################### rodape ######################################## */



    .rodape section:nth-child(1) {
        padding: 50px 0;

    }

    .rodape section div {
        flex-direction: column;

    }

    .rodape section div div {

        width: 95%;

    }



    .politicas h2 {
        margin-top: 5%;
        margin-top: 5%;
        margin-left: 20px;

    }







}